
  <script>
    $("#id_username").change(function () {
      var username = $(this).val();

      $.ajax({
        url: '{% url "listen_this" %}',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          alert('Succesfull')
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        }
      });

    });
  </script>

  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" id="id_username" >
    <button type="submit">Sign up</button>
  </form>
