asn1crypto==0.24.0
cryptography==2.1.4
Cython==0.29.10
deepspeech==0.5.0
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
numpy==1.16.4
pycrypto==2.6.1
pygobject==3.26.1
pynput==1.4.2
python-dotenv==0.10.2
python-http-client==3.1.0
python-xlib==0.25
pyxdg==0.25
redis==2.0.0
SecretStorage==2.3.1
sendgrid==6.0.5
six==1.12.0
